<footer class="footer">
	<div class="footer_top common_class">
			<div class="container-fluid">
				<h2>Run on just About Everything</h2>
				<ul>
					<li class="mac">
						<a href=""><span></span><span>Mac</span></a>
					</li>
					<li class="windows">
						<a href=""><span></span><span>Windows</span></a>
					</li>
					<li class="linux">
						<a href=""><span></span><span>Linux</span></a>
					</li>
					<li class="android">
						<a href=""><span></span><span>Android</span></a>
					</li>
					<li class="ios">
						<a href=""><span></span><span>IOS</span></a>
					</li>
				</ul>
				</div><!--container-fluid-->
		</div><!--footer_top-->
	<div class="footer_bottom common_class">
	<div class="container-fluid">
		
		<ul class="left">
			<li>
				<a href="">Home</a>
			</li>
			<li>
				<a href="">Forwarding</a>
			</li>
		</ul>
		<ul class="right">
			<li><a href="">Copyrights 2013, go.to. All rights reserved</a></li>
		</ul>
		</div><!--container-fluid-->
		</div><!--footer_bottom-->
</footer>
