<footer class="footer">
	<div class="footer_top">
			<div class="container-fluid">
				<h2>Run on just About Everything</h2>
				<ul>
					<li>
						<a href="">Mac</a>
					</li>
					<li>
						<a href="">Windows</a>
					</li>
					<li>
						<a href="">Linux</a>
					</li>
					<li>
						<a href="">Android</a>
					</li>
					<li>
						<a href="">IOS</a>
					</li>
				</ul>
				</div><!--container-fluid-->
		</div><!--footer_top-->
	<div class="footer_bottom">
	<div class="container-fluid">
		
		<ul class="menu-right left">
			<li>
				<a href="">Home</a>
			</li>
			<li>
				<a href="">Forwarding</a>
			</li>
		</ul>
		<ul class="right">
			<li><a href="">Copyrights 2013, go.to. All rights reserved</a></li>
		</ul>
		</div><!--container-fluid-->
		</div><!--footer_bottom-->
</footer>
