<header class="main-header">
	<div class="container-fluid">
		<nav class="nav common_class">
			<div class="logo left">
				<a href=""><img src="/images/logo.png" alt="logo"> </a>
			</div><!--logo-->
			<ul class="menu-right right">
				<li>
					<a href="">Home</a>
				</li>
				<li>
					<a href="">Forwarding</a>
				</li>
			</ul>
		</nav>

		<section class="container text-center">
			<div class="banner-contain common_class">
				<h1>Chat for businesses and teams</h1>
				<p>
					Spend less time sifting through email discussions
				</p>
				<p>
					and more time getting things done
				</p>

			</div><!--common-container-->
			<div class="download_button common_class">
				<div class="down_blk">
					<a href="" class="download">Download to get started <span class="icon"></span></a>
					<div class="social_icons">
						<div class="social_icons_left">
							<h4>DESKTOP</h4>
							<ul>
								<li class="win">
									<a href=""><span></span><span class="space">Windows</span></a>
								</li>
								<li class="mac">
									<a href=""><span></span><span class="space">Mac</span></a>
								</li>
								<li class="chrome">
									<a href=""><span></span><span class="space">Chrome</span></a>
								</li>

							</ul>
						</div>
						<div class="social_icons_left">
							<h4>MOBILE</h4>
							<ul>
								<li class="android">
									<a href=""><span></span><span class="space">Android</span></a>
								</li>
								<li class="iphone">
									<a href=""><span></span><span class="space">Iphone</span></a>
								</li>

							</ul>
						</div>
					</div><!--social_icons-->
				</div>

			</div>
			<section class="banner_img common_class">

				<a href=""><img src="/images/banner.png" alt="banner"></a>
			</section>
		</section>

	</div><!--container-fluid-->
</header>