<section class="main_container">
	<div class="container-fluid">
		<div class="common_class list_group">
		  <div class="sub_list">
		  	<div class="heading"> 
		  	<a href="">
		  		<img src="" alt="list_icons" />
		  	</a>
		  	</div>
		  	<div class="discription">
		  		<a href=""></a>
		  		<p>
		  			
		  		</p>
		  	</div>
		  </div><!--sub_list-->
		</div><!--list_group-->
		<div class="common_class blockquote">
			<h2>Our pilot customers love us!</h2>
			<div class="discription">
				<p>Group chat</p>
			</div><!--discription-->
			<div class="list_img">
				<div class="author_img">
					<a href=""><img src="" alt="image"></a>
					</div><!--author_img-->
					<div class="author_details">
						<p class="head">Adam</p>
						<p>Account Manager <a href="">Media.net</a></p>
					</div><!--author_details-->
			</div><!--list_img-->
			</div><!--common_class-->
	</div><!--container-fluid-->
	
</section>
