<section class="main_container">
	<div class="container-fluid">
		<div class="common_class list_group">
			<section class="sub_list">
				<figure class="heading">
					<a href=""> <img src="/images/group.png" alt="group"></a>
				</figure>
				<article class="discription">
					<h4><a href="">Group &#38; 1-on-1 chat</a></h4>
					<p>
						Discuss ideas, share files and get feedback
						from your team with none of the back-and-
						forth of email. And when you need to have a
						side conversation, simply start a 1-on-1 chat
						with your colleague.
					</p>
				</article>
			</section><!--sub_list-->
			<section class="sub_list ">
				<figure class="heading">
					<a href=""> <img src="/images/sync.png" alt="synced"> </a>
				</figure>
				<article class="discription">
				<h4>	<a href="">Synced across all your devices</a></h4>
					<p>
						Take your chats with you. With apps for the
						desktop (Windows, Mac), the Web and
						mobiles (iPhone, Android and Windows
						phone), you can switch devices and pick up
						right where you left off.
					</p>
				</article>
			</section><!--sub_list-->
			<section class="sub_list">
				<figure class="heading">
					<a href=""> <img src="/images/setting.png" alt="setting"> </a>
				</figure>
				<article class="discription">
				<h4>	<a href="">Complete chat history</a></h4>
					<p>
						Our powerful history search ensures that
						you’ll never forget another conversation
						again. Search acoss chats, files and
						contacts.
					</p>
				</article>
			</section><!--sub_list-->
		</div><!--list_group-->
		<div class="common_class blockquote text-center">
			<h2><span>Our pilot customers love us!</span></h2>
			<div class="common_blockqute">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="discription">
								<p>
									Group chat makes quick discussions really easy. Within just 2weeks, we moved
									most of our discussions over to Go.to – yes, it’s that good!
								</p>
							</div><!--discription-->
							<div class="list_img">
								<div class="author_blk">
									<div class="author_img left">
										<a href=""><img src="/images/author.png" alt="author"></a>
									</div><!--author_img-->
									<div class="author_details left">
										<p class="head">
											Adam Brickner
										</p>
										<p>
											Account Manager <a href="">Media.net</a>
										</p>
									</div><!--author_details-->
								</div>
							</div><!--list_img-->

						</li>
						<li>
							<div class="discription">
								<p>
									Group chat makes quick discussions really easy. Within just 2weeks, we moved
									most of our discussions over to Go.to – yes, it’s that good!
								</p>
							</div><!--discription-->
							<div class="list_img">
								<div class="author_blk">
									<div class="author_img left">
										<a href=""><img src="/images/author.png" alt="author"></a>
									</div><!--author_img-->
									<div class="author_details left">
										<p class="head">
											Adam Brickner
										</p>
										<p>
											Account Manager <a href="">Media.net</a>
										</p>
									</div><!--author_details-->
								</div>
							</div><!--list_img-->

						</li>
						<li>
							<div class="discription">
								<p>
									Group chat makes quick discussions really easy. Within just 2weeks, we moved
									most of our discussions over to Go.to – yes, it’s that good!
								</p>
							</div><!--discription-->
							<div class="list_img">
								<div class="author_blk">
									<div class="author_img left">
										<a href=""><img src="/images/author.png" alt="author"></a>
									</div><!--author_img-->
									<div class="author_details left">
										<p class="head">
											Adam Brickner
										</p>
										<p>
											Account Manager <a href="">Media.net</a>
										</p>
									</div><!--author_details-->
								</div>
							</div><!--list_img-->

						</li>
						<li>
							<div class="discription">
								<p>
									Group chat makes quick discussions really easy. Within just 2weeks, we moved
									most of our discussions over to Go.to – yes, it’s that good!
								</p>
							</div><!--discription-->
							<div class="list_img">
								<div class="author_blk">
									<div class="author_img left">
										<a href=""><img src="/images/author.png" alt="author"></a>
									</div><!--author_img-->
									<div class="author_details left">
										<p class="head">
											Adam Brickner
										</p>
										<p>
											Account Manager <a href="">Media.net</a>
										</p>
									</div><!--author_details-->
								</div>
							</div><!--list_img-->
				</div>
				</li>
				</ul>
			</div><!--flexslider-->
		</div><!--common_class-->

	</div><!--container-fluid-->

</section>
