@media only screen and (max-width: 969px) {
    .sub_list {
        width: 30%;
    }
    .container-fluid {
        max-width: 98%;
    }
}
@media only screen and (max-width: 768px) {
  .menu-right li a {
     background: #000;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}
.menu-right li {
    width: 100%;
    margin:0px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.menu-right {
    margin-top:0px;
    position: absolute;
    right: 0px;
    display:none;
    top:100%;
    width: 100%;
}
.nav{position:relative}
.menu_small{    float: right;margin-top:26px;
    padding: 10px;display:block}
.menu_small.in {

    background: #000;
    margin-top: 26px;
}
.menu_small.in .close{display:block;}
.menu_small.in .nav_button{display:none;}
.menu_small .close {
    background: transparent;
    border: 0px;
    font-size: 14px;
    width:31px;
    height:26px;
    color: #fff;
    display:none;
    bottom: 12px;
}

}
@media only screen and (max-width: 767px) {
    .sub_list {
        width: 100%;
        margin-right: 0px
    }
    .banner-contain h1 {
        font-size: 43px;
    }
    .banner-contain p {
        font-size: 24px;
    }
    .sub_list .discription a,
    .footer_top h2 {
        font-size: 26px;
    }
    .blockquote h2 {
        font-size: 28px;
    }
    .banner-contain,
    .main-header,
    .sub_list .discription a,
    .sub_list .discription,
    .list_group {
        margin-bottom: 15px;
    }
    .author_blk {
        width: 60%;
    }
}
@media only screen and (max-width: 540px) {
    .common_blockqute .discription p:before {
        left: -80px;
    }
    .common_blockqute .discription p:after {
        right: -20px
    }
    .author_blk {
        width: 100%;
    }
    .common_blockqute {
        width: 62%;
    }
    .blockquote h2:after {
        top: 100%;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 479px) {
    .footer_top ul {
        width: 100%;
    }
}
@media only screen and (max-width: 399px) {
    .social_icons {
        width: 162px;
        margin-left: -81px;
    }
    .social_icons h4 {
        margin-bottom: 0px
    }
    .social_icons_left,
    .social_icons_left:last-child {
        width: 100%;
        border: 0px;
        clear: both;
        margin: 0px auto;
    }
    .footer_top ul li {
        width: 100%;
        margin-bottom: 15px;
    }
    .footer_top ul li a span:first-child {
        margin-bottom: 0px
    }
    .footer_bottom.common_class ul.right {
        float: left;
        margin-top: 10px;
    }
}