/*color*/

$color1: #63BF27;
$color2:#989797;
$color3:#CCDEE9;
$color4: #6d6d6d;
$color5:#303030;
$color6:#146db9;
$color7:#ccc;
$color8:#b3b2b2;
$color9:#E3E3E3;
$color10:#878787;
$color11:#696969;
$color12:#172138;
$color13:#F4F4F4;
$white:#fff;
$black:#000;
/*font size*/
$size1:14px;
$size2:12px;
/*font-family*/
$font1 : arial;
$font2:'Lato', sans-serif;
$font3:'Helvetica Neue', Helvetica, Arial, sans-serif;


