<!DOCTYPE html>
<html>
<head>
  <title>Idirect</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="description" content="go to is site">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
<%= yield %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
  	$(function(){
  		 $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });

      $(".nav_button").click(function(e){
       e.stopPropagation();
         $(".menu_small").addClass("in");
               $( ".menu-right" ).slideToggle("slow")
      })
     $(".close").click(function(e){
      e.stopPropagation();
        	$( ".menu-right").slideToggle("slow",function(){
                		$(".menu_small").removeClass("in")
                	})
                	});
          $(document).click(function (e) {
             var $event = $(e.target);
        if(!$event.hasClass("menu_small")){
 if($(".menu_small").hasClass("in")){
        	$( ".menu-right").slideToggle("slow",function(){
                        		$(".menu_small").removeClass("in")
                        	})
            }

        }


        });
$(document).keyup(function(e) {
     if (e.keyCode == 27) { 
     	$(".menu-right").slideUp("slow");
     	$(".menu_small").removeClass("in")
    }

});
  $(".download").click(function(e){e.preventDefault();$(".social_icons").toggle()});
  $(window).resize(function(){
  	$(".menu_small").removeClass("in")
  });
  	});
  </script>
</div>
</body>
</html>
